body {
    background-color: white;
    background-repeat: no-repeat;
}

.about-img img {
    width: 30vw;
    height: auto;
    float: left;
}


.text-area {
    background-image: url("../images/wood-text.jpg");
    position: absolute;
    right: 0;
    width: 50vw;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 1vw;
}
.text-area p {
     font-size: 2vw;
     color: yellow; 
}
