body {
    background-image: url("../images/Me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

h1.image-text {
    position: absolute;
    top: 15vw;
    left: 20vw;
    font-size: 4vw;
    color: rgb(255,255,255);
    border-right: 2px solid rgb(255,255,255);
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 0.1vw black;
    transform: translateY(-50%);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/* Animation */
.anim-typewriter{
    animation: typewriter 2s steps(44) 1s 1 normal both,
               blinkTextCursor 1000ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 62vw;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }