html, body {
  background-color: black;
  overflow: hidden;
  margin: 0;
}
.home-img {
  max-width: 100%;
  object-position: 50% 50%;
}

h1 {
    position: absolute;
    font-size: 1.5rem;
    color: white;
    text-shadow: #000 0px 0px 2px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.text1 {
  top: 40vh;
  left: 60vw;
}
.text2 {
  animation-delay: 2s;
  top: 50vh;
  left: 33vw;
}
/* Animation */
.anim-typewriter1{
    animation: typewriter1 2s steps(44) 1s 1 normal both,
               blinkTextCursor 2000ms steps(44) infinite normal;
  }
  @keyframes typewriter1{
    from{width: 0;}
    to{width: 24vw;}
  }


  .anim-typewriter2{
    animation: typewriter2 2s steps(44) 3s 1 normal both,
               blinkTextCursor 2000ms steps(44) infinite normal;
  }
  @keyframes typewriter2{
    from{width: 0;}
    to{width: 40vw;}
  }
  
  @keyframes blinkTextCursor{
    
    from{border-right-color: transparent}
    to{border-right-color: transparent;}
  }