body {
    margin: 0;
    background-color: black;
    font-family: 'Graduate', cursive;
}
.top-nav {
    position: fixed;
    width: 100vw;
    top: 0;
    
    background-color: rgba(0, 0, 0, 0.4);
}

ul.top-nav-links {
    list-style-type: none;
    overflow: hidden;
    padding: 1.5vw 0;
    margin: 0;
}

ul.top-nav-links li {
    float: left;
}

ul.top-nav-links li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    padding: 2vw 1vw;
    transition: color 0.5s ease-out;
}

ul.top-nav-links li:not(:last-child) {
    border-right: 0.1vw solid rgb(255,255,255);
}

ul.top-nav-links li a:hover:not(.active) {
    color: orange;
    cursor: pointer;
    
}

ul.top-nav-links li a.active {
    color: orange;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    ul.top-nav-links li.right,
    ul.top-nav-links li {float: none;}
}


.bottom-nav {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
}

ul.bottom-nav-links li a:hover {
    color: orange;
}

ul.bottom-nav-links {
    list-style-type: none;
    overflow: hidden;
    padding: 1.5vw 0;
    margin: 0;
}

ul.bottom-nav-links li:not(:last-child) {
    border-left: 0.1vw solid rgb(255,255,255);
}

ul.bottom-nav-links li:not(.last-updated) {
    float: right;
}

ul.bottom-nav-links li.last-updated {
    float: left;
}

ul.bottom-nav-links li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    padding: 2vw 1vw;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 600px) {
    ul.bottom-nav-links li.right,
    ul.bottom-nav-links li {float: none;}
}