body {
    font-family: 'Roboto', cursive;
}

ul {
    position: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    bottom: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    border: 1px solid white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
  }
  
  li a:hover, .active {
    background-color: #736CED;
  }

  .active {
    pointer-events: none;
  }



.nav-links {
  position: relative;
  bottom: 10vh;
  display: flex;
  justify-content: space-around;
}

