body {
    background-image: url("smaller.png");
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: auto;
}

@media only screen and (min-device-width: 1000px) {
    body {
        background-image: url("temp.jpg");
        background-repeat: no-repeat;
        margin: 0;
        width: 100%;
        height: auto;
    }
}

.top-nav {
    position: fixed;
    width: 100vw;
    top: 0;
}

ul.top-nav-links {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    padding: 0 0;
    margin: 0;
}

ul.top-nav-links li {
    float: left;
}

ul.top-nav-links li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 40px 20px 40px 20px;
}

ul.top-nav-links li a:hover:not(.active) {color: orange;}
ul.top-nav-links li a.active {color: orange;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    ul.top-nav-links li.right,
    ul.top-nav-links li {float: none;}
}


.bottom-nav {
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
}

ul.bottom-nav-links li a:hover {
    color: orange;
}

ul.bottom-nav-links {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    padding: 0 0;
    margin: 0;
}

ul.bottom-nav-links li:not(.last-updated) {
    float: right;
}

ul.bottom-nav-links li.last-updated {
    float: left;
}

ul.bottom-nav-links li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 40px 20px 40px 20px;
}

@media screen and (max-width: 600px) {
    ul.bottom-nav-links li.right,
    ul.bottom-nav-links li {float: none;}
}