body {
    background-image: url("temp.jpg");
    margin: 0;
    background-size: cover;
    
}


a {
    font-family: 'Times New Roman';
}

.top-nav {
    position: fixed;
    width: 100vw;
    top: 0;
}

ul.top-nav-links {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    padding: 20px 0;
    margin: 0;
}

ul.top-nav-links li {
    float: left;
}

ul.top-nav-links li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 40px 20px 40px 20px;
    transition: color 0.5s ease-out;
}

ul.top-nav-links li:not(:last-child) {
    border-right: 2px solid rgb(255,255,255);
}

ul.top-nav-links li a:hover:not(.active) {
    color: orange;
}

ul.top-nav-links li a.active {color: orange;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    ul.top-nav-links li.right,
    ul.top-nav-links li {float: none;}
}


.bottom-nav {
    position: fixed;
    width: 100vw;
    bottom: 0;
    right: 0;
}

ul.bottom-nav-links li a:hover {
    color: orange;
}

ul.bottom-nav-links {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    padding: 20px 0;
    margin: 0;
}

ul.bottom-nav-links li:not(:last-child) {
    border-left: 2px solid rgb(255,255,255);
}

ul.bottom-nav-links li:not(.last-updated) {
    float: right;
}

ul.bottom-nav-links li.last-updated {
    float: left;
}

ul.bottom-nav-links li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 40px 20px 40px 20px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 600px) {
    ul.bottom-nav-links li.right,
    ul.bottom-nav-links li {float: none;}
}

h1.image-text {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 40px;
    color: rgb(255,255,255);
    border-right: 2px solid rgb(255,255,255);
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px black;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
    animation: typewriter 2s steps(44) 1s 1 normal both,
               blinkTextCursor 1000ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 620px;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }